.bg {
    position: relative;
}

.bghome:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    background-image: url('http://i66.servimg.com/u/f66/15/06/53/48/da00110.jpg');
}

.bgsorting:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    background-image: url('http://i66.servimg.com/u/f66/15/06/53/48/da00110.jpg');
}

.form {
    position: relative;
    left: 400px;
    font-size: 200%;
}

.title {
    alignment: center;
    color: lime;
}